services:
  postgres:
    container_name: postgres_container
    image: postgres:14.18
    environment:
      POSTGRES_USER: pedrocaroli
      POSTGRES_PASSWORD: Btrb0130##
      POSTGRES_DB: db_projeto_1
    ports:
      - "5432:5432"
    volumes:
    - ./postgres/data:/var/lib/postgresql/data
    - ./postgress/air_flow_init.sql:/docker-entrypoint-initdb.d/air_flow_init.sql
    networks:
      - my-network

  airflow:
    container_name: airflow_container
    image: apache/airflow:3.0.0
    # depends_on:
    #   - postgres
    environment:
      AIRFLOW_DATABASE_SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/lakehouse
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./api_request:/opt/airflow/api_request
      - ./insert_records:/opt/airflow/insert_records
    networks:
      - my-network
    command: >
      bash -c "airflow db migrate && airflow standalone"

networks:
  my-network:
    driver: bridge